/dashboard/cgi-bin/ajax-proxy.cgi
/dashboard/cgi-bin/firmware-flash.cgi
/dashboard/cgi-bin/firmware-upload.cgi
/dashboard/cgi-bin/mesh-topology.kml
/dashboard/cgi-bin/provisiond-handset.cgi
/dashboard/cgi-bin/provisiond.cgi
/dashboard/javascript/afrimesh.billing.js
/dashboard/javascript/afrimesh.community.js
/dashboard/javascript/afrimesh.customers.js
/dashboard/javascript/afrimesh.device.js
/dashboard/javascript/afrimesh.js
/dashboard/javascript/afrimesh.maps.js
/dashboard/javascript/afrimesh.network.js
/dashboard/javascript/afrimesh.person.js
/dashboard/javascript/afrimesh.platform.js
/dashboard/javascript/afrimesh.settings.js
/dashboard/javascript/afrimesh.storage.js
/dashboard/javascript/afrimesh.telephony.js
/dashboard/javascript/afrimesh.utilities.js
/dashboard/javascript/afrimesh.villagebus.js
/dashboard/javascript/jquery/jquery.flot.min.js
/dashboard/javascript/jquery/jquery.jeditable.js
/dashboard/javascript/jquery/jquery.min.js
/dashboard/javascript/jquery/jquery.sparkline.js
/dashboard/javascript/jquery/jquery.tablesorter.min.js
/dashboard/javascript/jquery/jquery.tooltip.min.js
/dashboard/javascript/json.org/json2.js
/dashboard/javascript/json.org/json2.min.js
/dashboard/javascript/openlayers/OpenLayers.js
/dashboard/javascript/openlayers/OpenStreetMap.js
/dashboard/www/icons/calls.png
/dashboard/www/icons/devices.png
/dashboard/www/icons/gateway.png
/dashboard/www/icons/help.png
/dashboard/www/icons/home.png
/dashboard/www/icons/links.png
/dashboard/www/icons/login.png
/dashboard/www/icons/logs.png
/dashboard/www/icons/settings.png
/dashboard/www/icons/terminal.png
/dashboard/www/icons/users.png
/dashboard/www/images/404.png
/dashboard/www/images/blank.gif
/dashboard/www/images/cloud-popup-relative.png
/dashboard/www/images/dot.gif
/dashboard/www/images/east-mini.png
/dashboard/www/images/find.png
/dashboard/www/images/gear.png
/dashboard/www/images/google_earth_export.png
/dashboard/www/images/indicator.gif
/dashboard/www/images/layer-switcher-maximize.png
/dashboard/www/images/layer-switcher-minimize.png
/dashboard/www/images/marker.png
/dashboard/www/images/network_map_legend.png
/dashboard/www/images/node-composite.png
/dashboard/www/images/node.png
/dashboard/www/images/north-mini.png
/dashboard/www/images/reload-busy.gif
/dashboard/www/images/reload.png
/dashboard/www/images/slider.png
/dashboard/www/images/south-mini.png
/dashboard/www/images/transparent.gif
/dashboard/www/images/west-mini.png
/dashboard/www/images/zoom-minus-mini.png
/dashboard/www/images/zoom-plus-mini.png
/dashboard/www/images/zoom-world-mini.png
/dashboard/www/images/zoombar.png
/dashboard/www/index.html
/dashboard/www/index.potato.html
/dashboard/www/index.redirect.html
/dashboard/www/index.router.html
/dashboard/www/modules/accounts.manage.html
/dashboard/www/modules/customers.manage.html
/dashboard/www/modules/customers.manage.js
/dashboard/www/modules/customers.plans.html
/dashboard/www/modules/customers.recharge.html
/dashboard/www/modules/customers.status.html
/dashboard/www/modules/example.module.html
/dashboard/www/modules/example.module.js
/dashboard/www/modules/help.chat.html
/dashboard/www/modules/help.group.html
/dashboard/www/modules/help.howto.html
/dashboard/www/modules/network.devices.html
/dashboard/www/modules/network.health.html
/dashboard/www/modules/network.map.html
/dashboard/www/modules/network.map.js
/dashboard/www/modules/utility.login.html
/dashboard/www/modules/utility.settings.html
/dashboard/www/modules/utility.settings.js
/dashboard/www/modules/utility.settings.potato.html
/dashboard/www/modules/utility.settings.router.html
/dashboard/www/modules/utility.upgrade.html
/dashboard/www/style/default.css
/dashboard/www/style/images/asc.gif
/dashboard/www/style/images/bg.gif
/dashboard/www/style/images/bottom_left.png
/dashboard/www/style/images/bottom_right.png
/dashboard/www/style/images/close-overlay.png
/dashboard/www/style/images/close.gif
/dashboard/www/style/images/close.png
/dashboard/www/style/images/controls/off.png
/dashboard/www/style/images/controls/on.png
/dashboard/www/style/images/controls/slider.png
/dashboard/www/style/images/controls/slider_center.png
/dashboard/www/style/images/controls/slider_left.png
/dashboard/www/style/images/controls/slider_right.png
/dashboard/www/style/images/desc.gif
/dashboard/www/style/images/dot.png
/dashboard/www/style/images/magnifier.png
/dashboard/www/style/images/pan-panel.png
/dashboard/www/style/images/top_left.png
/dashboard/www/style/images/top_right.png
/dashboard/www/style/images/white.png
/dashboard/www/style/images/zoom-panel.png
/dashboard/www/style/map.css
/dashboard/www/style/map.default.css
/dashboard/www/style/modules.css
/dashboard/www/style/reset.css
/dashmesh-1.0.tar.gz
/data/Makefile
/data/Makefile~
/data/files.batman-adv/etc/init.d/runonce
/data/files.fabfi/etc/config/afrimesh
/data/files.fabfi/etc/init.d/runonce
/data/files.fabfi/etc/init.d/tunnel-mysql
/data/files.fabfi/usr/sbin/tunnel-mysql
/data/files.gateway/etc/config/batmand.runonce
/data/files.gateway/etc/config/firewall.runonce
/data/files.gateway/etc/config/network
/data/files.gateway/etc/config/vis.runonce
/data/files.gateway/etc/config/wireless
/data/files.gateway/etc/firewall.user.runonce
/data/files.gateway/etc/init.d/fallback-ip
/data/files.gateway/etc/init.d/runonce
/data/files.gateway/etc/init.d/vis.runonce
/data/files.gateway/etc/pmacctd.conf.runonce
/data/files.portal/etc/chilli/defaults
/data/files.portal/etc/chilli/www/ChilliLibrary.js
/data/files.portal/etc/chilli/www/chilli.js
/data/files.portal/etc/chilli/www/index.html
/data/files.portal/www/cgi-bin/hotspotlogin.cgi
/data/files.portal/www/cgi-bin/portal-auth.cgi
/data/files.portal/www/cgi-bin/uam.pl
/data/files.potato/etc/config/afrimesh
/data/files.potato/etc/config/asterisk
/data/files.potato/etc/init.d/asterisk
/data/files.potato/www/index.luci.html
/data/files.provision/etc/init.d/provision
/data/files.provision/etc/init.d/runonce
/data/files.provision/usr/lib/asterisk/sounds/callme.gsm
/data/files.provision/www/cgi-bin/provision-handset.lua
/data/files.provision/www/cgi-bin/provision-handset.sh
/data/files.provision/www/cgi-bin/provision.lua
/data/files.provision/www/cgi-bin/provision.sh
/data/files.villagetelco/etc/config/afrimesh
/data/files.villagetelco/etc/config/batmand.runonce
/data/files.villagetelco/etc/config/firewall.runonce
/data/files.villagetelco/etc/config/network
/data/files.villagetelco/etc/config/wireless
/data/files.villagetelco/etc/init.d/fallback-ip
/data/files.villagetelco/etc/init.d/runonce
/data/files/etc/config/dashmesh
/data/files/etc/config/dashmesh~
/data/files/etc/crontabs/afrimesh
/data/files/etc/firewall.afrimesh
/data/files/etc/init.d/runonce
/data/files/sbin/sysupgrade.afrimesh
/data/files/www/cgi-bin/notify.sh
/data/files/www/cgi-bin/status.olsrd.sh
/data/files/www/cgi-bin/status.sh
/data/sd-Ma
